<h3>{{ attributes.name }}</h3>
<p class='daterange'>{{ dateRange }}</p>
<p>{{ attributes.summary }}</p>
{{#if attributes.resources.length }}
<h4>Event Resources</h4>
<ul>
{{#each attributes.resources}}
<li>
  {{~> resourceSummary }}
</li>
{{/each}}
</ul>
{{/if}}
