<form class="new-resource-form">
<label for="new-resource-name">Name:</label>
<input type="text" name="resource[name]">
<label for="new-resource-summary">Summary:</label>
<input type="text" name="resource[summary]">
<label for="new-resource-source-url">Source URL:</label>
<input type="text" name="resource[source_url]">
<input type="submit" value="Submit Resource">
</form>
