<form class="new-resource-form">
<div class='field'>
<label for="new-resource-name">Name:</label>
<input type="text" name="resource[name]">
</div>
<div class='field'>
<label for="new-resource-summary">Summary:</label>
<input type="text" name="resource[summary]">
</div>
<div class='field'>
<label for="new-resource-source-url">Source URL:</label>
<input type="text" name="resource[source_url]">
</div>
<div class='actions'>
<input type="submit" value="Submit Resource">
</div>
</form>
