.events.content {
  padding: 20px;
  margin-top: 100px;
  background-color: lighten($hblack, 5);

  &> ul {
    list-style: none;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .bar {
      width: 100%;
      border: 2px solid $hparchment;
    }

    &>li {
      background-color: lighten($hblack, 10);
      display: inline-block;
      text-align: top;
      max-width: 150px;

      padding: 5px;
      margin: 5px;
      float: left;

      transition-property: max-width;
      transition-duration: 1s;

      &.details {
        max-width: 800px;
      }

      &:before {
        position: relative;
        top: -55px;
        left: 50px;
        float: left;
        content: "";
        height: 50px;
        border: 1px solid $hparchment;
      }

    }
  }
}
