#events-app {
  padding: 20px;
  margin-top: 100px;

  &> ul {
    list-style-type: none;
    overflow-x: scroll;
    white-space: nowrap;
    max-height: 1000px;
    color: $hink;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
    
    p {
      color: $hink;
    }

    .bar {
      width: 100%;
      border: 2px solid $hparchment;
    }

    &>li {
      background-color: lighten($hparchment, 5);
      display: inline-block;
      vertical-align: top;
      max-width: 200px;
      overflow-x: hidden;
      white-space: nowrap;

      padding: 10px;
      margin: 5px;

      transition-property: max-width;
      transition-duration: .5s;

      &.details {
        max-width: 800px;
      }

      &:before {
        position: relative;
        top: -55px;
        left: 50px;
        float: left;
        content: "";
        height: 52px;
        background-color: $hink;
        width: 2px;
      }

      h3 {
        font-size: 1.2em;
      }

      p.daterange {
        margin-bottom: 5px;
        font-size: .8em;
      }

      h4 {
        margin-top: 20px;
        margin-bottom: 5px;
      }

      h4, ul {
        margin-left: 10px;
      }

      div div ul {
        background-color: darken($hparchment, 2);
        padding: 10px;
        
        li {
          padding: 5px;

          h5 {
            font-size: 1.1em;
          }

          h5, p {
            margin-bottom: 5px;
          }

          a {
            font-weight: bold;
            text-decoration: none;
            color: darken($hink, 5);
          }
        }
      }
    }
  }
}
