header {
  background-color: $hparchment;
  padding: 15px;

  p {
    color: $hink;
  }

  #session-login {
    float: right;
    padding: 10px;
    color: $hink;

    div {
      padding: 10px;
      margin-left: 20px;
      background-color: darken($hparchment, 5);
      text-align: center;
      display: inline-block;

      a {
        text-decoration: none;
        color: darken($hink, 5);
      }
    }
  }
}
